@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta&display=swap');
*{
    font-family: 'Mukta', sans-serif;
    margin:0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

body{
	background-color: white;
}
/*Caja contenido*/
#contenido{
	background-color: #EEF5EB;
	width: 75%;
	margin:0px auto;
	box-shadow: -10px 10px 15px #888888, 10px 10px 15px #888888;
}

/*Header y Footer*/
#header{
	background-color: #812F33;
	height: 30%;
}

nav a{
	text-decoration: none;
	color: white;
}

article{
	padding-left: 15px;
}

img{
	align-content: center;
	padding-left: 10px;
	padding-right: 10px;

}

.boton{
	color: white;
	font-weight: bold;
	display: inline-block;
	background-color: 
}